<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1> Edit product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">

    <div>
        <label for="name"> Product name </label>
        <input type="text" name="name" id="name" placeholder="name" value="<%= product.name %> ">
    </div>
    <div>
        <label for="price"> Product price </label>
        <input type="text" name="price" id="price" placeholder="price" value="<%= product.price %> ">
    </div>
    <div>
        <label for="category"> Category </label>
        <select name="category" id="category">
            <% for( let category of categories ) { %>
                <option value="<%= category %>"<%= product.category===category ? 'selected':'' %>    > <%= category %>  </option>
            <% } %>
           
           
        </select>
    </div>

    <button> submit </button>

    <a href="/products/<%= product._id %>"> Back </a>




    </form>
</body>
</html>